body {
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    width: 1280px;
    margin: 0 auto;
}
 .section {
    padding: 50px 50px 50px 50px;
 }

 .section_black {
     background-color: #445162;
 }

 .section__img {
     width: 40%;

 }

 .main-section {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
 }

 .main-article__title {
     font-size: 60px;
     margin-bottom: 50px;
 }

 .main-article__list {
     font-size: 20px;
 }

 .main-article_white {
     color: white;
 }

 .main-article__item {
     margin-bottom: 10px;

 }

 .main-article__item::before {
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}
.about-me-article {
    width: 650px;
}
.about-me-article__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.about-me-article__text {
    margin-top: 15px;
    font-size: 20px;
}

.section_grey {
    background-color: #f5f5f5;
}

.pluses-article__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.pluses-article__grid_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.pluses-article__grid_column {
    display: flex;
    flex-direction: column;
}

.pluses-article__item {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.pluses-article__img {
    margin-right: 10px;
}

.pluses-article__text {
    width: 540px;
    font-size: 20px;
}

.item__title {
    font-size: 24px;
    margin-bottom: 10px;
    color: #445161;
}

.interests-article__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.interests-article__grid_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

.interests-article__grid_column {
    display: flex;
    flex-direction: column;
}

.interests-article__item {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    align-self: auto;
}

.interests-article__img {
    margin-right: 10px;
}

.interests-article__text {
   width: 400px;
}

.footer {
    background-color: #445162;
    color: white;
    text-align: center;
    width: 1250px;
    margin: 0 auto;
    padding: 10px;
}

.footer__text {
   font-size: 12px;
}